@use 'sass-repository/framework' as f;

body {
  background-color: f.p(primary-light);
  color: f.p(text-base);
}

body {
  > header {
    background-color: transparent;
    @include f.after() {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: f.p(primary-light);
      opacity: 0.9;
    }
  }
}

main {
  section + section { border-top: 1px solid f.p(primary-dark); }
}

.btn {
  &.--secondary {
    background-color: f.p(secondary-base);
    border-color: f.p(secondary-dark);
    color: white;
    &:hover { background-color: f.p(secondary-dark); }
  }

  &.--primary {
    background-color: f.p(primary-base);
    border-color: f.p(primary-dark);
    color: white;
    &:hover { background-color: f.p(primary-dark); }
  }
}

.form-control {
  border-color: f.p(gray-base);
  &:focus { background-color: f.p(gray-light); }

  &-group {
    label { border-color: f.p(primary-dark); }
  }
}

a {
  text-decoration: none;
  &:link,
  &:visited { color: f.p(secondary-base); }

  &:hover,
  &:active { color: f.p(secondary-light); }
}
